#leaderboard-img {
  height: 40px;
  width: 40px;
  padding: 10px;
  border-radius: 50%;
}

#leaderboard-card {
  margin: auto;
  padding: 10px 0 0 0;
}

#leader-position {
  text-align: left;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

#nav-leader-name {
  height: 50%;
  margin: auto 0;
}

#nav-leader-pts {
  margin: auto;
}
