#squircle-img-nav-news {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-right: 20px;
}

#nav-news-card {
  margin-top: 20px;
}

#trendingNewsText {
  color: grey;
}

#trendingNewsReadMore:hover {
  cursor: pointer;
  text-decoration: none;
}
