#img-with-text-over {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#text-on-image {
  padding: 280px 10px 0 15px;
  color: white;
  font-weight: 800;
}
