#header-title {
  margin: 0;
  font-weight: 200;
  color: #243080;
}

.header-links {
  padding: 7px 0 0 0;
  margin: 0;
}

#header-link:hover {
  text-decoration: none;
  cursor: pointer;
}

#header-search {
  border: none;
  background-color: white;
  width: 90%;
  height: 65%;
  margin-top: 3px;
  padding-left: 5px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
#header-icon {
  padding-top: 2px;
  color: #243080;
}

#header-search:focus {
  outline: none;
}

#header-icon:hover {
  cursor: pointer;
}
