h3 {
  font-size: 20px;
  margin-top: 2px;
  font-weight: 200;
}

h4 {
  font-size: 16px;
  margin-top: 3px;
  font-weight: 200;
}
h6 {
  font-size: 12px;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.profile-image {
  border-radius: 50%;
}

.app {
  padding-left: 40px;
  padding-right: 40px;
  font-family: sans-serif;
  background-color: #ededf5;
}
